<a href="https://colab.research.google.com/github/Aras1703/SVM-Kidney_disease_classifier/blob/main/Kidney_Disease_Classifier_using_SVM_(SVC).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# MEMBACA FILE CSV MENGGUNAKAN PANDAS DAN MENAMPILKAN TIPE DATA DARI SETIAP FEATURE

import pandas as pd

df = pd.read_csv('kidney_disease.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [ ]:
# CLEANING DATA PADA LABEL CLASSIFICATION

df['classification']=df['classification'].replace(to_replace={'ckd':1.0,'ckd\t':1.0,'notckd':0.0,'no':0.0})
df.drop('id',axis=1,inplace=True)

In [ ]:
# MERUBAH FEATURE YANG MEMILIKI TIPE DATA STRING MENJADI FLOAT
# MENGISI SUATU NILAI PADA FEATURE YANG MEMILIKI NILAI "NaN" 

for i in ['pcv','wc','rc']:
    df[i] = df[i].str.extract('(\d+)').astype(float)
    
for i in ['age','bp','sg','al','su','bgr','bu','sc','sod','pot','hemo','rc','wc','pcv']:
    df[i].fillna(df[i].mean(),inplace=True)
    
df = df.dropna(axis=1)

In [ ]:
df

      age    bp     sg   al   su  ...  hemo   pcv      wc        rc  classification
0    48.0  80.0  1.020  1.0  0.0  ...  15.4  44.0  7800.0  5.000000             1.0
1     7.0  50.0  1.020  4.0  0.0  ...  11.3  38.0  6000.0  4.241636             1.0
2    62.0  80.0  1.010  2.0  3.0  ...   9.6  31.0  7500.0  4.241636             1.0
3    48.0  70.0  1.005  4.0  0.0  ...  11.2  32.0  6700.0  3.000000             1.0
4    51.0  80.0  1.010  2.0  0.0  ...  11.6  35.0  7300.0  4.000000             1.0
..    ...   ...    ...  ...  ...  ...   ...   ...     ...       ...             ...
395  55.0  80.0  1.020  0.0  0.0  ...  15.7  47.0  6700.0  4.000000             0.0
396  42.0  70.0  1.025  0.0  0.0  ...  16.5  54.0  7800.0  6.000000             0.0
397  12.0  80.0  1.020  0.0  0.0  ...  15.8  49.0  6600.0  5.000000             0.0
398  17.0  60.0  1.025  0.0  0.0  ...  14.2  51.0  7200.0  5.000000             0.0
399  58.0  80.0  1.025  0.0  0.0  ...  15.8  53.0  6800.0  6.000000             0.0

[400 rows x 15 columns]

In [ ]:
# MEMISAHKAN FEATURE TRAIN DAN FEATURE TEST SERTA LABEL TRAIN DAN LABEL TEST DENGAN TEST SIZE SEBESAR 11%

from sklearn.model_selection import train_test_split

X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.11, random_state=42)

In [ ]:
# MODELLING DAN TUNNING PARAMETER MACHINE LEARNING DENGAN SUPPORT VECTOR CLASSIFIER

from sklearn.svm import SVC
 
clf = SVC(C=10, gamma='auto', kernel='linear')
clf.fit(X_train, y_train)

SVC(C=10, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
# MENGHITUNG AKURASI DARI FEATURE TEST DAN LABEL TEST

clf.score(X_test, y_test)

0.9545454545454546

In [ ]:
# MEMBUAT PREDIKSI DARI FEATURE TEST

y_predict = clf.predict(X_test)

In [ ]:
# MEMBUAT

from sklearn.metrics import classification_report

print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

         0.0       0.93      0.93      0.93        15
         1.0       0.97      0.97      0.97        29

    accuracy                           0.95        44
   macro avg       0.95      0.95      0.95        44
weighted avg       0.95      0.95      0.95        44